SalaryModuleProject\obj\Debug\DesignTimeResolveAssemblyReferencesInput.cache
SalaryModuleProject/.vs/SalaryModuleProject/v16/.suo
SalaryModuleProject/SalaryModuleProject/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SalaryModuleProject/SalaryModuleProject/obj/Debug/SalaryModuleProject.csprojAssemblyReference.cache
