<link rel="stylesheet" href="~/Content/Styles/LeftNavBar/SidebarMenu.css" />
<script src="https://kit.fontawesome.com/25c11093ec.js" crossorigin="anonymous"></script>

<div class="sidenav">
    <!--Dashboard Menu-->
    <a href="#">
        <span style="color: orangered">
            <i class="fas fa-chart-line iconMargin"></i>
        </span>
        Dashboard
    </a>
    <!--Transakcje Menu-->
    <a href="#">
        <span style="color: forestgreen">
            <i class="fas fa-dollar-sign iconMargin"></i>
        </span>
        Transakcje
    </a>
    <!--Koszty Stałe Menu-->
    <a href="#">
        <span style="color: gold">
            <i class="fas fa-file-invoice-dollar iconMargin"></i>
        </span>
        Koszty Stałe
    </a>
</div>

